@model RDL.Models.Testing
@{
    Layout = null;
}

@using (Html.BeginForm("Change", "Tests"))
{
    <div class="form-group">
        @Html.TextBoxFor(m => m.Switch, new { @class = "form-control" })
    </div>
    @Html.HiddenFor(m => m.Id)
    <button type="submit" class="btn btn-primary">Change</button>
}