
@{
    ViewBag.Title = "Upcoming Events";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Upcoming Events</h2>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Day</th>
            <th>Location</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>January 9th</td>
            <td>Lee County, VA</td>
        </tr>
        <tr>
            <td>January 16th</td>
            <td>Albany, GA</td>
        </tr>
    </tbody>
</table>
